.title {
    margin: 50px auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.subtitle {
    color: darkblue;
}

.box {
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 50%;
    height: 50px;
    background-color: rgb(152, 202, 204);
    color: black;
}

.button:hover {
    background-color: rgb(40, 130, 133);
    color: white;
}